# Certificates and Keys
*.crt
*.pem
*.key
*.cer
certs/*.crt
certs/*.pem
!certs/README.md

# Configuration file
dnscrypt-proxy.toml

# Environment variables
.env

# Operating system / IDE files
.DS_Store
.idea/
.vscode/

# Local build / docker temporary files
*.tar
