###############################################################################
#                             Global settings                                 #
###############################################################################

server_names = [ ${FORMATTED_SERVER_NAMES} ]

listen_addresses = ['0.0.0.0:5053']

max_clients = 250

###############################################################################
#                            Server Selection                                 #
###############################################################################

ipv4_servers = true
ipv6_servers = false
dnscrypt_servers = true
doh_servers = true
odoh_servers = false

require_dnssec = false
require_nolog = false
require_nofilter = false

disabled_server_names = []

###############################################################################
#                           Connection Settings                               #
###############################################################################

force_tcp = false
http3 = false
http3_probe = false

timeout = 5000
keepalive = 30

###############################################################################
#                        Load Balancing & Performance                         #
###############################################################################

enable_hot_reload = false

###############################################################################
#                                Logging                                      #
###############################################################################

log_files_max_size = 10
log_files_max_age = 7
log_files_max_backups = 1

###############################################################################
#                           Certificate Management                            #
###############################################################################

cert_refresh_delay = 240

###############################################################################
#                            Startup & Network                                #
###############################################################################

bootstrap_resolvers = [ ${FORMATTED_BOOTSTRAP} ]

ignore_system_dns = true
netprobe_timeout = 60
netprobe_address = '${NETPROBE_ADDRESS}'

###############################################################################
#                                 Filters                                     #
###############################################################################

block_ipv6 = false
block_unqualified = true
block_undelegated = true
reject_ttl = 10

###############################################################################
#                                DNS Cache                                    #
###############################################################################

cache = true
cache_size = 4096
cache_min_ttl = 2400
cache_max_ttl = 86400
cache_neg_min_ttl = 60

###############################################################################
#                           Disable Remote Sources                            #
###############################################################################

[sources]

###############################################################################
#                            Static entries                                   #
###############################################################################

[static]

[static.'${SERVER_NAME}']
stamp = '${FINAL_STAMP}'
